body {
  background: linear-gradient(to bottom right, rgb(58, 6, 58), rgb(12, 0, 12));
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: deeppink;
  text-shadow: 0 0 30px deeppink;
}

.magicWrapper {
  text-align: center;
}

.magicBtn {
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: deeppink;
  text-shadow: 0 0 30px deeppink;
  background-color: rgb(58, 6, 58);
  border: deeppink solid 5px;
  box-shadow: 0 0 70px deeppink;
  border-radius: 20px;
  padding: 5px 10px;
  outline: none;
}

.magicBtn:active {
  transform: scale(3);
  transition: all ease-in-out 0.2s;
}

.calculator__wrapper {
  width: 400px;
  margin: auto;
  margin-bottom: 100px;
  border: deeppink solid 5px;
  box-shadow: 0 0 70px deeppink;
  border-radius: 20px;
  padding: 12px;
  top: -900px;
  position: relative;

  transition: all 2s ease-in-out;
}

.calcActive {
  top: 0;

  transition: all 1.7s ease-out;
}

.calculator__wrapper.active {
  top: 0px;

}

// .calculator__wrapper.active {
//   top: 0px;
// }

.calculator {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: deeppink solid 5px;
  box-shadow: 0 0 70px deeppink;
  border-radius: 20px;
  justify-content: space-evenly;
}

// .calculator.active {
//   display: flex;
//   flex-wrap: wrap;
// }

.clear {
  font-size: 3rem;
  background-color: #ffe62e;
  box-shadow: 0 0 20px deeppink;
  border-radius: 20px;
  outline: none;

  left: -500px;
  bottom: -500px;
  position: relative;
  transition: all 5s ease-in-out;
  width: 100%;
  height: 100%;
}

// .clear.active {
//   left: 0px;
//   bottom: 0px;
// }

.magic__wrapper {
  margin: 7px;
  flex-basis: 20%;
  font-size: 3rem;

}

.output__wrapper {
  display: flex;
  flex-basis: 60%;
  margin: 10px;
}

.calculator__output {
  font-size: 1.48rem;
  background-color: rgb(58, 6, 58);
  color: #ffe62e;
  box-shadow: 0 0 20px deeppink;
  text-shadow: 0 0 10px deeppink;
  border: deeppink solid 1px;
  border-radius: 20px;
  padding-right: 10px;
  text-align: end;
}

.calculator__inputs {
  background-color: deeppink;
  box-shadow: 0 0 20px deeppink;
  border-radius: 20px;
  outline: none;

  position: relative;
  transition: all 5s ease-in-out;
  width: 100%;
  height: 100%;
  font-size: 3rem;

}

// .calculator__inputs.active {
//   position: relative;
//   left: 0px;
//   bottom: 0px;
// }

.calculator__inputs:hover {
  background-color: fuchsia;
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}
.calculator__input__spec:hover {
  background-color: fuchsia;
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}
.clear:hover {
  background-color: fuchsia;
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}
.calculator__input__result:hover {
  background-color: fuchsia;
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.calculator__input__spec {
  background-color: #ffe62e;
  box-shadow: 0 0 20px deeppink;
  position: relative;
  transition: all 5s ease-in-out;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  border-radius: 20px;
  outline: none;
}

// .calculator__inputs__spec.active {
//   position: relative;
//   left: 0px;
//   bottom: 0px;
// }

.calculator__input__result {
  font-size: 3rem;
  background-color: #ffe62e;
  box-shadow: 0 0 20px deeppink;
  border-radius: 20px;

  outline: none;
  position: relative;
  transition: all 5s ease-in-out;
  top: -500px;
  left: -500px;
  width: 100%;
  height: 100%;
}

// .calculator__input__result.active {
//   position: relative;
//   right: 0px;
//   bottom: 0px;
// }

.calculation {
  font-size: 2rem;
  background-color: springgreen;
}

.active {
  position: relative;
  right: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  top: 0px !important;

  margin: 7px;
  outline: none;
}

.calculation {
  font-size: 2rem;
  background-color: springgreen;

}
